{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>About Our Company</h2>
        <p>Мы круты. Однозначно!.</p>
        <p>Ну тут сами чё-нить допишите.</p>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Чего хотим?</h5>
                <p class="card-text">Всего, сразу и много.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}