{% extends "base.html" %}

{% block title %}Наши услуги{% endblock %}

{% block content %}
<h2 class="mb-4">Наши услуги</h2>
<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Веб-разработка</h5>
                <p class="card-text">Веб решения для всяких ваших хотелок.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">SEO-оптимизация</h5>
                <p class="card-text">Скока хотите.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Консультации</h5>
                <p class="card-text">Экспертная оценка для ваших IT-решений.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}